## Load File

In [2]:
import pandas as pd
data = pd.read_csv('exp1_a.csv')

In [5]:
# choose rows at random for checking
data.sample(5)

     Unnamed: 0    X  ppt    dv  qua  dip     dv_dp
143         144  144   11  0.08    3    2  0.143892
128         129  129   10  0.17    2    2  0.485537
9            10   10    0  0.16    3    0  0.603226
23           24   24    1  0.08    3    2  0.143892
88           89   89    7  0.61    1    1  1.671460

## Missing Values

In [ ]:
# how many missing values for the different columns?
data_na=data.isnull().sum()

In [ ]:
# remove all the rows that contain a missing value
data_na=data.dropna()

In [ ]:
# remove all columns with at least one missing value
data_na=data.dropna(axis=1)

In [9]:
# replace all NA's with 0
data_na=data.fillna(0)

In [10]:
# imputer fills na's (default: mean)
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
data_na=my_imputer.fit_transform(data)

Ideas

Split continuous variable into ranks

Dummy coding

Working with time/dates

Working with strings/regex

Assumption checks

Ttest/anova

Visualisation matplotlib/ggplot2

normalisation