## Load File

In [39]:
# change current directory
#setwd("C:/Users/Luise/Documents/jupyterprep/")
filename <- 'exp1_a.csv'
data <- read.csv(filename, header = TRUE)

In [26]:
library(dplyr)
sample_n(data, 5)

    X.1 X   ppt dv   qua dip dv_dp
67   67  67  5  0.43 2   0   1.3735688
70   70  70  5  0.38 3   0   1.3795262
150 150 150 12  0.18 1   2   0.2722585
126 126 126 10  0.24 1   2   0.5152248
57   57  57  4  0.11 2   2   0.1768811

## Missing Values

In [31]:
# how many missing values for the different columns?
na <-sapply(data, function(x) sum(length(which(is.na(x)))))
na <- data.frame(na_count)
    na

      na_count
X.1   0
X     0
ppt   0
dv    0
qua   0
dip   0
dv_dp 0

In [33]:
# remove all the rows that contain a missing value
data_na<-data[complete.cases(data), ]

In [41]:
# remove all columns with at least one missing value
data_na<-data[,!apply(is.na(data), 2, any)]

In [60]:
# replace NA with 0
data_na <- data
data_na[is.na(data_na)] <- 0

In [75]:
# fill NA with column mean
data_na <- data
for(i in 1:ncol(data)){
  data_na[is.na(data_na[,i]), i] <- mean(data_na[,i], na.rm = TRUE)
}

## Aggregate, apply, sapply, etc etc

In [81]:
aggregate(data, by=list(data$ppt), mean,simplify = TRUE)
#aggregate(data, by=list(data$dip,data$qua,data$ppt), mean,simplify = TRUE)

   Group.1 X.1   X     ppt dv        qua dip dv_dp
1   0        6.5   6.5  0  0.2712500 1.5 1   0.5906750
2   1       18.5  18.5  1  0.3791667 1.5 1   0.9778913
3   2       30.5  30.5  2  0.4616667 1.5 1   1.2720477
4   3       42.5  42.5  3  0.4750000 1.5 1   1.3275975
5   4       54.5  54.5  4  0.3672917 1.5 1   0.9368048
6   5       66.5  66.5  5  0.4375000 1.5 1   1.1995430
7   6       78.5  78.5  6  0.4275000 1.5 1   1.1585790
8   7       90.5  90.5  7  0.5083333 1.5 1   1.4823747
9   8      102.5 102.5  8  0.2216667 1.5 1   0.4315567
10  9      114.5 114.5  9  0.3616667 1.5 1   0.9146122
11 10      126.5 126.5 10  0.4041667 1.5 1   1.0838472
12 11      138.5 138.5 11  0.3716667 1.5 1   0.9640160
13 12      150.5 150.5 12  0.3058333 1.5 1   0.7208004

## Misc.

In [ ]:
# clear workspace
rm(list = ls())